<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mindorks.example.coroutines">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".learn.retrofit.single.SingleNetworkCallActivity"
            android:label="@string/single_network_call" />
        <activity
            android:name=".learn.retrofit.series.SeriesNetworkCallsActivity"
            android:label="@string/series_network_calls" />
        <activity
            android:name=".learn.retrofit.parallel.ParallelNetworkCallsActivity"
            android:label="@string/parallel_network_calls" />
        <activity
            android:name=".learn.room.RoomDBActivity"
            android:label="@string/room_database" />
        <activity
            android:name=".learn.timeout.TimeoutActivity"
            android:label="@string/timeout" />
        <activity
            android:name=".learn.errorhandling.trycatch.TryCatchActivity"
            android:label="@string/try_catch_error" />
        <activity
            android:name=".learn.errorhandling.exceptionhandler.ExceptionHandlerActivity"
            android:label="@string/exception_handler" />
        <activity
            android:name=".learn.errorhandling.supervisor.IgnoreErrorAndContinueActivity"
            android:label="@string/ignore_error_and_continue" />
        <activity
            android:name=".learn.task.onetask.LongRunningTaskActivity"
            android:label="@string/long_running_task" />
        <activity
            android:name=".learn.task.twotasks.TwoLongRunningTasksActivity"
            android:label="@string/two_long_running_tasks" />
    </application>

</manifest>